body{
  margin: 0;
  padding: 0;
  background-color: lightgrey;
}
header{
  display: flex;
  background-color: #ffcc33;
  border-bottom: solid;
}
.title{
    flex: 2;
    text-align: center;
}

.head{
  margin: auto;
}

#log{
  flex: 1;
  margin: auto;
}
#delog{
  font-family: comic sans ms;
  flex: 4;
  margin: auto;
}
#sep{
  margin-left: 5px;
  margin-right: 5px;
}
#englobe{
  height: 100%;
  display: flex;
}
#choose{
  flex: 1;
  padding-top: 15px;
  background-color: #ffcc33;
}
#item{
  flex: 10;
}
.categorie{
  display: block;
  height: 40px;
  text-align: center;
  text-decoration: none;
  border-bottom: solid;
  color: black;
  font-family: comic sans ms;
}

#basket{
	width: 80px;
	height: 80px;
	position: absolute;
	left: 5px;
	top: 5px;
}
#basket iframe {
	display: none;
}
#basket a:hover iframe {
	display: inline;
	position: absolute;
	left: 0;
	top: 80px;
}
.button {
	width: 115px;
	height: 25px;
	background: #4E9CAF;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}
#basket_frame{
	background-color: red;
}
